.container {
    display: flex;
    margin: 0px;
    padding: 0;
    flex-direction: column;
    text-align: center;
}

.nav{
    background-color: #1F2937;
    display: flex;
    align-items: center;
}

.nav-header {
    margin-right: auto;
    color: #F9FaF8;
    font-size: 24px;
    padding: 0px 100px;
}

.nav-link{
    display: flex;
    padding: 0px 100px;
}

.nav-link a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    font-family: 'Roboto', arial;
    padding: 0px 10px;
}

.hero{
    background-color: #1F2937;
    color: #F9FaF8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 200px 100px 200px;
}

.hero-content{
    text-align: left;
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    margin-right: 50px;
}

.hero-content h1{
    font-size: 48px;
    margin: 0;
}

.hero-content p{
    font-size: 18px;
    color: #e5e7eb;
}

.hero-image img {
    height: 400px;
    width: 400px;
}

button{
    background-color: #3882F6;
    color: #F9FaF8;
    display: block;
    width: 100px;
    padding: 8px;
    border-radius: 8px;
    border: none;
}