body{
    margin: 0;
}

.container {
    display: flex;
    margin: 0px;
    padding: 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.first{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 1rem 14rem 0rem;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.nav-header {
    margin-right: auto;
    color: #F9FaF8;
    font-size: 24px;
}

.nav-link{
    display: flex;
}

.nav-link a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    font-family: 'Roboto', arial;
    padding: 0px 10px;
}

.nav-link a:hover {
    cursor: pointer;
    color: #3882F6;
}

.hero{
    color: #F9FaF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 25px 0px 100px 0px;
}

.hero-content{
    text-align: left;
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}

.hero-content h1{
    font-size: 48px;
    margin: 0;
}

.hero-content p{
    font-size: 18px;
    color: #e5e7eb;
}

.hero-img {
    display: flex;
    flex: 1 1 0;

}

.hero-img img{
    flex: 1;
    object-fit: cover;
    max-height: calc(214px + 1vmax);
    border-radius: 7px;
}

button{
    background-color: #3882F6;
    color: #F9FaF8;
    display: block;
    width: 100px;
    padding: 8px;
    border-radius: 8px;
    border: none;
}

button:hover{
    cursor: pointer;
    background-color: #f9faf8;
    color: #3882F6;
    border: 5px, solid, #3882F6;
}